<div class="container">
  <div class="wrapper-form wrapper-form-registration">
    <div class="child-wrapper-container">
      <div class="title-wrapper">
        <span class="title registration-title">Реєстрація <br class="title-br">акаунта</span>
        <span class="description registration-description">
          Для отримання доступу до кабінету та покупки курсів
          потрібно пройти коротку реєстрацію
        </span>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), id: "form", remote: true) do |f| %>
        <div class="wrapper-input">
          <div class="icons-wrapper">
            <%= image_tag 'icons/user.svg' %>
          </div>
          <%= f.text_field :name, placeholder: "Ім'я", id: "name" %>
          <br>
          <span id="name-hint" class="hint"></span>
        </div>
        <div class="wrapper-input">
          <div class="icons-wrapper">
            <%= image_tag 'icons/call.svg' %>
          </div>
          <%= f.text_field :phone, placeholder: "Номер телефону", id: "phone", maxlength: 16 %>
          <br>
          <span id="phone-hint" class="hint"></span>
        </div>
        <div class="wrapper-input">
          <div class="icons-wrapper">
            <%= image_tag 'icons/mail.svg' %>
          </div>
          <%= f.text_field :email, placeholder: "Email", id: "email", autofocus: true %>
          <br>
          <span id="email-hint" class="hint"></span>
        </div>
        <div class="wrapper-input">
          <div class="icons-wrapper">
            <%= image_tag 'icons/key-25.svg' %>
          </div>
          <%= f.password_field :password, placeholder: "Password", id: "password" %>
          <br>
          <span id="password-hint" class="hint"></span>
        </div>
        <div class="radio-toolbar">
          <% if I18n.locale == :ru %>
            <%= radio_button_tag :locale, 'ru', checked: true %>
            <%= label_tag :locale_ru, 'Русский' %>
            <%= radio_button_tag :locale, 'uk' %>
            <%= label_tag :locale_uk, 'Українська' %>
          <% elsif I18n.locale == :uk %>
            <%= radio_button_tag :locale, 'ru' %>
            <%= label_tag :locale_ru, 'Русский' %>
            <%= radio_button_tag :locale, 'uk', checked: true %>
            <%= label_tag :locale_uk, 'Українська' %>
          <% end %>
        </div>
        <div class="checkbox-container">
          <label class="checkbox-label">
            <%= f.check_box :terms_and_conditions, id: "check" %>
            <span class="checkbox-custom rectangular"></span>
          </label>
          <div class="input-title" id="check-valid">
            <label for="check">Я згоден з <span id="span1">умовами сервісу</span> та
              <span id="span2">правилами надання послуг</span></label>
          </div>
        </div>
        <%= f.submit "Зареєструватись", class: "button", id: "submit" %>
        <div class="forgetPassword">
          <span class="openSans-normal">
            Вже маєте аккаунт?
            <%= link_to "Увійти", new_user_session_path %>
          </span>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Подтвердите свой аккаунт, листом на єлектронной поште!!! </p>
  </div>
</div>