<h1>Editing Lesson</h1>

<%= simple_form_for([@course, @lesson]) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <h2>You doesn't need to attach new photo and video when you don't want to change it</h2>
  <div class="field">
    <p>Old foto:</p>
    <img src="<%= @lesson.image.url %>" alt="">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <p>Old Video</p>
    <video src="<%= @lesson.video.url %>"></video>
    <%= form.label :video %>
    <%= form.file_field :video %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', course_lessons_path(@lesson) %> |
<%= link_to 'Back', @course %>
