<div class="wrapper">
  <div class="container-statistics">
    <div class="navigator">
      <%= link_to admin_path, class: "roboto-font" do %>
        Головне меню
        <span></span>
      <% end %>
      <%= link_to admin_course_path(@course), class: "roboto-font" do %>
        <%= @course.title %>
        <span></span>
      <% end %>
      <%= link_to edit_admin_course_lesson_path(@course, @lesson), class: "roboto-font" do %>
        Редагувати урок
        <span></span>
      <% end %>
    </div>
    <%= simple_form_for @lesson, url: admin_course_lesson_path(@course, @lesson, locale: params[:locale]), method: "PUT", html: { class: 'wrapper-added-course' } do |form| %>
      <div class="main-title">
        <span class="title roboto-font">Загальна інформація</span>
      </div>
      <%= form.error_notification %>
      <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
      <div class="add_new_course">
        <div class="wrapper-content">
          <span class="roboto-font">Прев’ю зображення уроку</span>
          <%= image_tag @lesson.image.url, style: "height: 500px" %>
          <br>
          <div>
            <label for="image" class="custom-file-upload">
              Завантажити
            </label>
            <%= form.file_field :image, class:"roboto-font", id: "image" %>
          </div>
        </div>
        <div class="wrapper-content">
          <span class="roboto-font">Трейлер курсу</span>
          <%= video_tag @lesson.video.url, controls: 'controls' %>
          <br>
          <div>
            <label for="video" class="custom-file-upload">
              Завантажити
            </label>
            <%= form.file_field :video, class:"roboto-font", id: "video" %>
          </div>
        </div>
        <div class="inputs-wrapper">
          <label for="name" class="roboto-font">Назва уроку</label>
          <%= form.text_field :title, id: "name" %>
          <label for="description" class="roboto-font">Опис</label>
          <%= form.text_area :description, id: "description" %>
        </div>
        <br>
        <div class="button-wrapper">
          <%= form.submit "Зберегти Урок", class:"roboto-font button save" %>
        </div>
      </div>
    <% end %>
  </div>
</div>