<div class="wrapper">
  <div class="container-statistics">
    <div class="navigator">
      <%= link_to admin_path, class: "roboto-font" do %>
        Головне меню
        <span></span>
      <% end %>
      <%= link_to admin_courses_path, class: "roboto-font" do %>
        <%= @course.title %>
        <span></span>
      <% end %>
      <%= link_to admin_course_lesson_path(@course, @lesson), class: "roboto-font" do %>
        <%= @course.title %>
        <span></span>
      <% end %>
    </div>
    <div class="wrapper-added-course">
      <div class="main-title">
        <span class="title roboto-font">Загальна інформація</span>
      </div>
      <div class="add_new_course">
        <div class="wrapper-content">
          <%= link_to edit_admin_course_lesson_path(@course, @lesson) do %>
            <button class="button">Редагувати</button>
          <% end %>
        </div>
        <div class="wrapper-content">
          <span class="roboto-font">Прев’ю зображення курсу</span>
          <%= image_tag @lesson.image.url, style: "height: 500px" %>
        </div>
        <div class="wrapper-content">
          <span class="roboto-font">Трейлер курсу</span>
        </div>
        <video id='video' style="width: 854px; height: 480px;" class="video-js vjs-default-skin"></video>
        <div class="inputs-wrapper">
          <label for="name" class="roboto-font">Назва курсу</label>
          <%= @lesson.title %>
          <label for="description" class="roboto-font">Опис</label>
          <%= simple_format(@lesson.description) %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .video-js .vjs-menu-button .vjs-icon-placeholder:before {
    content: '\2731';
  }
  .video-js .vjs-big-play-button, .video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -45px;
    background-color: #F2C94C;
  }
</style>

<script>
    videojs('video', {
        controls: true,
        plugins: {
            videoJsResolutionSwitcher: {
                default: 'high', // Default resolution [{Number}, 'low', 'high'],
                dynamicLabel: true
            }
        }
    }, function(){
        var player = this;
        window.player = player
        player.updateSrc([
            {
                src: '<%= @lesson.video.fullhd.url %>',
                type: 'video/mp4',
                label: '1080p',
                res: 1080
            },
            {
                src: '<%= @lesson.video.hd.url %>',
                type: 'video/mp4',
                label: '720p',
                res: 720
            },
            {
                src: '<%= @lesson.video.lowhd.url %>',
                type: 'video/mp4',
                label: '480p',
                res: 480
            },
            {
                src: '<%= @lesson.video.verylowhd.url %>',
                type: 'video/mp4',
                label: '360p',
                res: 360
            }
        ])
        player.on('resolutionchange', function(){
            console.info('Source changed to %s', player.src())
        })
    })
</script>