<div class="wrapper-all-content">
  <div id="scroll">
    <%= image_tag 'welcome/scroll.svg', alt: "scroll" %>
  </div>

  <header class="header container-fluid" id="header">
    <div class="container header-content-wrapper">
      <div class="justify-self-start align-self-center logo-container">
        <%= image_tag 'welcome/logo.svg', alt: "logo" %>
      </div>
      <div class="justify-self-end align-self-center button-wrapper">
        <a href="#trailer" class="scroll-nav">
          <button class="first-button-header all-button openSans-sans-serif600">
            Подивитись трейлер
          </button>
        </a>
        <% if user_signed_in? %>
          <%= link_to button_tag("Мої курси", class: "all-button sign-in-button openSans-sans-serif600"), my_courses_path %>
        <% else %>
          <%= link_to button_tag("Ввійти", class: "all-button sign-in-button openSans-sans-serif600"), new_user_session_path %>
        <% end %>
      </div>
    </div>
  </header>

  <section class="container-fluid align-self-center header-content-on-image" id="wrapper">
    <div class="container content-wrapper">
      <span class="header-title oswald-sans-serif600">Розпочни нове спортивне життя разом з нами!</span>
      <span class="header-under-title oswald-sans-serif500">
        З нами ви навчитесь складати програму тренувань та раціон харчування так, щоб отримати довгоочікуваний результат !
      </span>
      <a href="#trailer" class="scroll-nav">
        <button class="all-button watch-trailer openSans-sans-serif600">
          <%= image_tag 'welcome/play-icon.svg', alt: "play" %>
          Дивитись трейлер
        </button>
      </a>
    </div>
  </section>

  <div class="wrapper2 container-fluid">
    <section class="under-header-section-wrapper container-fluid">
      <div class="under-header-section container">
        <div class="buy-ticket">
          <div class="content-wrapper">
            <s class="crossed-out oswald-sans-serif500"><%= (@courses.first.rates.first.price*1.2) %></s>
            <span class="price oswald-sans-serif500">від<strong
              class="oswald-sans-serif600"><%= @courses.first.rates.first.price %></strong>гривень</span>
          </div>
          <div class="buy-button-wrapper container">
            <a href="#price" class="scroll-nav">
              <button class="all-button openSans-sans-serif600">Придбати</button>
            </a>
            <span class="oswald-sans-serif500">* Тільки до 31.08.2019</span>
          </div>
        </div>
        <div class="our-lesson">
          <div class="wrapper-content">
            <div class="image-container">
              <%= image_tag 'welcome/oclock.svg', alt: "oclock-image" %>
            </div>
            <div class="our-lesson-content-container">
              <span class="title oswald-sans-serif600">13 ГОДИН УРОКІВ</span>
              <span class="sub-title oswald-sans-serif500">ДЛЯ ДОСЯГНЕННЯ РЕЗУЛЬТАТУ</span>
            </div>
          </div>
        </div>
        <div class="our-lesson">
          <div class="wrapper-content">
            <div class="image-container">
              <%= image_tag 'welcome/like.svg', alt: "like-image" %>
            </div>
            <div class="our-lesson-content-container">
              <span class="title oswald-sans-serif600">500 КЛІЄНТІВ</span>
              <span class="sub-title oswald-sans-serif500">ВЖЕ ОЦІНИЛИ НАШУ ПРОГРАМУ</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="we-are-coach-with-experience wait-on-course">
      <div class="left-side-text container">
        <span class="oswald-sans-serif500">Що вас очікує протягом курсу</span>
      </div>
      <div class="right-side-text container">
        <p class="montserrat-sans-serif600">
          1.Ви відчуєте своє тіло та організм, зрозумієте їхні особливості та потреби.
          <br>
          2.Знання про тренування, які стануть необхідними для досягнення поставленої мети та отримання омріяного результату.
          <br>
          3.Ви навчитесь самостійно будувати раціон харчування, водночас різко не відмовляючись від улюбленої їжі.
          <br>
          4.Приклади тренувань та харчування, щоб правильно побудувати спортивний режим.
          <br>
          5.Спеціальний зошит із розрахунками та основною інформацією з курсу. Ми потурбувались, щоб ви  завжди мали під рукою все необхідне.
          <br>
          6.Мотивацію та підтримку,ми завжди будемо поруч і допоможемо, навіть, з дрібницями.
          <br>
          7.Економію часу та грошей, оскільки пройшовши курс, ви отримаєте необхідні знання і матеріали для досягнення омріяного результату.
          <br>
          8.Зручність та комфорт, ви самостійно обираєте де і коли вам тренуватись.
        </p>
      </div>
    </section>

    <section class="course-for-you container">
      <span class="title oswald-sans-serif500">Цей курс для тих, хто</span>
      <div class="wrapper-content">
        <div class="wrapper-every-blocks">
          <div>
            <%= image_tag 'icons/cup.svg', alt: "oclock-image" %>
          </div>
          <div>
            <span class="montserrat-sans-serif600">Початківців, які хочуть отримати не лише знання, а й омріяний результат</span>
          </div>
        </div>
        <div class="wrapper-every-blocks">
          <div>
            <%= image_tag 'icons/dumbbell.svg', alt: "oclock-image" %>
          </div>
          <div>
            <span class="montserrat-sans-serif600">Людей, які хочуть набрати м'язову масу або схуднути</span>
          </div>
        </div>
        <div class="wrapper-every-blocks">
          <div>
            <%= image_tag 'icons/apple.svg', alt: "oclock-image" %>
          </div>
          <div>
            <span class="montserrat-sans-serif600">Тих, хто хоче дізнатись як скласти програму харчування та тренувань</span>
          </div>
        </div>
        <div class="wrapper-every-blocks">
          <div>
            <%= image_tag 'icons/question.svg', alt: "oclock-image" %>
          </div>
          <div>
            <span class="montserrat-sans-serif600">Тих, хто не отримав бажаного результату від своїх попередніх тренувань</span>
          </div>
        </div>
        <div class="wrapper-every-blocks">
          <div>
            <%= image_tag 'icons/man.svg', alt: "oclock-image" %>
          </div>
          <div>
            <span class="montserrat-sans-serif600">Людей, які  починають вести здоровий спосіб життя </span>
          </div>
        </div>
        <div class="wrapper-every-blocks">
          <div>
            <%= image_tag 'icons/money.svg', alt: "oclock-image" %>
          </div>
          <div>
            <span class="montserrat-sans-serif600">Людей, що цінують свій час та гроші на шляху до результату</span>
          </div>
        </div>
      </div>
    </section>

    <% if @courses.first.present? %>
      <!--    Інфа про перший курс-->
      <section class="wait-on-course" style='background-image: url(<%=  @courses.first.image.url %>);'>
        <div class="coach-left-side container right-side-text">
          <p><%= simple_format(@courses.first.description) %></p>
        </div>
        <div class="coach-right-side left-side-text container">
          <span class="oswald-sans-serif500"><%= @courses.first.title %></span>
        </div>
      </section>
      <!------->
      <!--    Епізоди та пакети першого урока-->
      <section class="episode">
        <span class="title oswald-sans-serif500">Епізоди</span>
        <div class="slider container">
          <% @courses.first.lessons.each.with_index(1) do |lesson, index| %>
            <div class="slide-wrapper">
              <div class="slide" style='background-image: url(<%= @courses.first.image.url %>);'>
                <div class="top-number-container">
                  <span class="oswald-sans-serif500"><%= index %></span>
                </div>
                <div class="episode-content-wrapper">
                  <span class="name-of-episode oswald-sans-serif500"><%= lesson.title %></span>
                  <span class="description-of-episode montserrat-sans-serif600"><%= simple_format(lesson.description) %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </section>
      <section class="price-section container">
        <div class="title-container">
          <span class="oswald-sans-serif600" id="price">Три пакети</span>
          <span class="oswald-sans-serif500">Виберіть пакет, який підійде саме вам</span>
        </div>
        <div class="price-wrapper container">
          <% @courses.first.rates.each do |rate| %>
            <div class="price-card">
              <div class="slide">
                <div class="title-of-card">
                  <span class="card-title oswald-sans-serif500"><%= rate.title %></span>
                  <span class="card-description oswald-sans-serif500"><%= simple_format(rate.description) %></span>
                </div>
                <div class="price-of-every-card">
                  <div class="content-wrapper">
                    <s class="crossed-out col oswald-sans-serif500"><%= (rate.price*1.2) %></s>
                    <span class="price oswald-sans-serif500"><%= rate.price %> гривень</span>
                  </div>
                  <div class="button-wrapper">
                    <% if user_signed_in? && !@courses.first.bought?(current_user.id) %>
                      <%= link_to button_tag("Придбати", class: "all-button openSans-sans-serif600"), course_rate_bought_course_path(@courses.first, rate), method: :get %>
                    <% elsif user_signed_in? && @courses.first.bought?(current_user.id) %>
                      <%= link_to button_tag("Переглянути", class: "all-button openSans-sans-serif600"), course_lessons_path(@courses.first) %>
                    <% else %>
                      <%= link_to button_tag("Придбати", class: "all-button openSans-sans-serif600"), new_user_registration_path %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="footer">
          <span class="openSans-sans-serif600">Поспішіть! Акційна пропозиція діє лише до 31 серпня 2019 року.</span>
        </div>
      </section>
      <!------->

      <!--    Решта курсів-->
      <% @courses.drop(1).each do |course| %>
        <section class="wait-on-course" style='background-image: url(<%= course.image.url %>);'>
          <div class="left-side-text container">
            <span class="oswald-sans-serif500"><%= course.title %></span>
          </div>
          <div class="right-side-text container">
            <p class="montserrat-sans-serif600"><%= simple_format(course.description) %>
            </p>
          </div>
        </section>
        <section class="episode">
          <span class="title oswald-sans-serif500">Епізоди</span>
          <div class="slider container">
            <% course.lessons.each.with_index(1) do |lesson, index| %>
              <div class="slide-wrapper">
                <div class="slide" style='background-image: url(<%= course.image.url %>);'>
                  <div class="top-number-container">
                    <span class="oswald-sans-serif500"><%= index %></span>
                  </div>
                  <div class="episode-content-wrapper">
                    <span class="name-of-episode oswald-sans-serif500"><%= lesson.title %></span>
                    <span class="description-of-episode montserrat-sans-serif600"><%= simple_format(lesson.description) %></span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </section>
        <section class="price-section container">
          <div class="title-container">
            <span class="oswald-sans-serif600" id="price">Два пакети</span>
            <span class="oswald-sans-serif500">Виберіть пакет, який підійде саме вам</span>
          </div>
          <div class="price-wrapper container">
            <% course.rates.each do |rate| %>
              <div class="price-card">
                <div class="slide">
                  <div class="title-of-card">
                    <span class="card-title oswald-sans-serif500"><%= rate.title %></span>
                    <span class="card-description oswald-sans-serif500"><%= simple_format(rate.description) %></span>
                  </div>
                  <div class="price-of-every-card">
                    <div class="content-wrapper">
                      <s class="crossed-out col oswald-sans-serif500"><%= (rate.price*1.2) %></s>
                      <span class="price oswald-sans-serif500"><%= rate.price %> гривень</span>
                    </div>
                    <div class="button-wrapper">
                      <% if user_signed_in? && !course.bought?(current_user.id) %>
                        <%= link_to button_tag("Придбати", class: "all-button openSans-sans-serif600"), course_rate_bought_course_path(course, rate), method: :get %>
                      <% elsif user_signed_in? && course.bought?(current_user.id) %>
                        <%= link_to button_tag("Переглянути", class: "all-button openSans-sans-serif600"), course_lessons_path(course) %>
                      <% else %>
                        <%= link_to button_tag("Придбати", class: "all-button openSans-sans-serif600"), new_user_registration_path %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="footer">
            <span class="openSans-sans-serif600">Поспішіть! Акційна пропозиція діє лише до 31 серпня 2019 року.</span>
          </div>
        </section>
      <% end %>
    <% end %>

    <!--    Інші блоки-->
    <section class="wait-on-course arnold">
      <div class="right-side-text container">
        <p class="montserrat-sans-serif600 first">
          <%= image_tag 'welcome/quotes.svg', alt: "quotes-image", class: "quotes1" %>
          Я відкрив для себе секрет успіху в формулюванні з трьох частин:
        </p>
        <ul>
          <li class="montserrat-sans-serif600">- Впевненість у собі.</li>
          <li class="montserrat-sans-serif600">- Позитивний настрій.</li>
          <li class="montserrat-sans-serif600">- Чесна інтенсивна праця.</li>
        </ul>
        <p class="montserrat-sans-serif600 last">
          Багато людей знають ці три принципи, але деякі з них можуть застосувати їх на практиці
          <%= image_tag 'welcome/quotes.svg', alt: "quotes-image", class: "quotes2" %>
        </p>
      </div>
      <div class="left-side-text container">
        <span class="oswald-sans-serif500">
            Арнольд Шварценеггер
        </span>
      </div>
    </section>

    <section class="under-header-section under-quotes-section sale container">
      <div class="buy-ticket">
        <div class="content-wrapper">
          <s class="crossed-out col oswald-sans-serif500"><%= (@courses.first.rates.first.price*1.2) %></s>
          <span class="price oswald-sans-serif500">від<strong
            class="oswald-sans-serif600"><%= @courses.first.rates.first.price %></strong>гривень</span>
        </div>
        <div class="buy-button-wrapper container">
          <a href="#price" class="scroll-nav">
            <button class="all-button openSans-sans-serif600">Придбати</button>
          </a>
          <span class="oswald-sans-serif500">* Тільки до 31.08.2019</span>
        </div>
      </div>
      <div class="our-lesson">
        <div class="wrapper-content">
          <div class="image-container">
            <%= image_tag 'welcome/oclock.svg', alt: "oclock-image" %>
          </div>
          <div class="our-lesson-content-container">
            <span class="title oswald-sans-serif600">13 ГОДИН УРОКІВ</span>
            <span class="sub-title oswald-sans-serif500">ДЛЯ ДОСЯГНЕННЯ РЕЗУЛЬТАТУ</span>
          </div>
        </div>
      </div>
      <div class="our-lesson dwaldlwa">
        <div class="wrapper-content">
          <div class="image-container">
            <%= image_tag 'welcome/like.svg', alt: "like-image" %>
          </div>
          <div class="our-lesson-content-container">
            <span class="title oswald-sans-serif600">500 КЛІЄНТІВ</span>
            <span class="sub-title oswald-sans-serif500">ВЖЕ ОЦІНИЛИ НАШУ ПРОГРАМУ</span>
          </div>
        </div>
      </div>
    </section>

    <section class="wait-on-course bottom-card">
      <div class="left-side-text container">
        <span class="oswald-sans-serif500">
            Максим Олексюк
        </span>
      </div>
      <div class="right-side-text container">
        <p class="openSans-sans-serif600">
          Більше 15 років свого життя я присвятив спорту, з них 7 років я займаюсь та розвиваюсь у напрямку фітнесу. Уже як 4 роки я є сертифікованим персональним тренером по фітнесу і водночас 3 роки я є онлайн тренером. Разом зі мною понад 150 клієнтів отримали бажаний результат. Я крокую в ногу з часом, розвиваючи майбутні напрями у сфері спорту та здоров'я.
          <br>
          <br>
          Ваш шлях до мети не буде занадто легким. Але ми зробимо все, аби впевнити вас, що маленькі перемоги —  це вже результат, а помилки — це ще не розчарування. Тому, не дивлячись ні на що, продовжуйте йти до цілі. День за днем. Тренування за тренуванням. А ми — будемо поруч.
        </p>
      </div>
    </section>
  </div>

  <section class="container-fluid trailer-section">
    <div class="container wrapper-section-content">
      <span class="oswald-sans-serif500 trailer-title" id="trailer">Трейлер</span>
      <div class="video-container">
        <video id='video' style="width: 854px; height: 480px;" class="video-js vjs-default-skin"></video>
      </div>
    </div>
  </section>


  <footer>
    <div class="footer-wrapper">
      <div class="container top-container">
        <div class="language-wrapper">
          <span class="oswald-sans-serif500">
            <button class="active">
              <% unless params[:locale] == "uk" %>
                <%= link_to "UK", change_locale_path(:uk, path: "#{request.path.to_s.split("/").drop(2).join("/")}") %>
              <% else %>
                UK
              <% end %>
            </button>
          </span>
          <span class="oswald-sans-serif500">
            <button class="active">
              <% unless params[:locale] == "ru" %>
                <%= link_to "RU", change_locale_path(:ru, path: "#{request.path.to_s.split("/").drop(2).join("/")}") %>
              <% else %>
                RU
              <% end %>
            </button>
          </span>
        </div>
        <span class="title openSans-sans-serif600">За незаконне копіювання матеріалів сайту передбачена кримінальна відповідальність</span>
        <div class="icons-container">
          <a href="#"><%= image_tag 'icons/facebook.svg', alt: "facebook" %></a>
          <a href="#"><%= image_tag 'icons/instagram.svg', alt: "instagram" %></a>
          <a href="#"><%= image_tag 'icons/vk.svg', alt: "vkontakte" %></a>
        </div>
      </div>
      <div class="container bottom-container">
        <span class="openSans-sans-serif600">Your Sport Courses 2019</span>
        <span class="openSans-sans-serif600">Усі права захищено</span>
        <span class="movadex openSans-sans-serif600">Зроблено в
          <a class="openSans-sans-serif600" href="https://www.movadex.com/">Movadex</a>
        </span>
      </div>
    </div>
  </footer>
</div>

<style>
  .video-js{
    margin: 0 auto;
  }

  .video-js .vjs-menu-button .vjs-icon-placeholder:before {
    content: '\2731';
  }

  .video-js .vjs-big-play-button, .video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -45px;
    background-color: #F2C94C;
  }

  .vjs-fullscreen video{
    width: 100% !important;
    height: 100% !important;
  }

  @media screen and (max-width: 991px) {
    .trailer-section .container {
      max-width: 100% !important;
    }
  }

  @media screen and (max-width: 856px) {
    #video, video{
      width: 100% !important;
      height: calc(100vw/1.778) !important;
    }

    video{
      width: 100% !important;
      height: auto !important;
    }
  }
</style>

<script>
    videojs('video', {
        controls: true,
        plugins: {
            videoJsResolutionSwitcher: {
                default: 'high', // Default resolution [{Number}, 'low', 'high'],
                dynamicLabel: true
            }
        }
    }, function(){
        var player = this;
        window.player = player
        player.updateSrc([
            {
                src: '<%= @courses.first.trailer.fullhd.url %>',
                type: 'video/mp4',
                label: '1080p',
                res: 1080
            },
            {
                src: '<%= @courses.first.trailer.hd.url %>',
                type: 'video/mp4',
                label: '720p',
                res: 720
            },
            {
                src: '<%= @courses.first.trailer.lowhd.url %>',
                type: 'video/mp4',
                label: '480p',
                res: 480
            },
            {
                src: '<%= @courses.first.trailer.verylowhd.url %>',
                type: 'video/mp4',
                label: '360p',
                res: 360
            }
        ])
        player.on('resolutionchange', function(){
            console.info('Source changed to %s', player.src())
        })
    })
</script>