<div class="wrapper-all-content">
  <div id="scroll">
    <%= image_tag 'welcome/scroll.svg', alt: "scroll" %>
  </div>

  <header class="header container-fluid" id="header">
    <div class="container header-content-wrapper">
      <div class="justify-self-start align-self-center logo-container">
        <%= image_tag 'welcome/logo.svg', alt: "logo" %>
        <%#= request.env['HTTP_ACCEPT_LANGUAGE'].scan(/^[a-z]{2}/).first.to_s != params[:locale] %>
        <%#= params[:locale] %>
        <%#= current_user.locale %>
        <%#= current_user.id %>
      </div>
      <div class="justify-self-end align-self-center button-wrapper">
        <a href="#trailer" class="scroll-nav">
          <button class="first-button-header all-button openSans-sans-serif600">
            Подивитись трейлер
          </button>
        </a>
        <% if user_signed_in? %>
          <%= link_to button_tag("Мої курси", class: "all-button sign-in-button openSans-sans-serif600"), my_courses_path %>
        <% else %>
          <%= link_to button_tag("Ввійти", class: "all-button sign-in-button openSans-sans-serif600"), new_user_session_path %>
        <% end %>
      </div>
    </div>
  </header>

  <section class="container-fluid align-self-center header-content-on-image" id="wrapper">
    <div class="container content-wrapper">
      <span class="header-title oswald-sans-serif600">Розпочни нове спортивне життя разом з нами!</span>
      <span class="header-under-title oswald-sans-serif500">
                З нашим курсом ви зможете змінити своє життя.
                Склади свою програму тренувань і забудь про неефективних тренерів.
        </span>
      <a href="#trailer" class="scroll-nav">
        <button class="all-button watch-trailer openSans-sans-serif600">
          <%= image_tag 'welcome/play-icon.svg', alt: "play" %>
          Дивитись трейлер
        </button>
      </a>
    </div>
  </section>

  <div class="wrapper2 container-fluid">
    <section class="under-header-section-wrapper container-fluid">
      <div class="under-header-section container">
        <div class="buy-ticket">
          <div class="content-wrapper">
            <s class="crossed-out oswald-sans-serif500">6000</s>
            <span class="price oswald-sans-serif500">від<strong
              class="oswald-sans-serif600">4000</strong>гривень</span>
          </div>
          <div class="buy-button-wrapper container">
            <a href="#price" class="scroll-nav">
              <button class="all-button openSans-sans-serif600">Придбати</button>
            </a>
            <span class="oswald-sans-serif500">* Тільки до 31.08.2019</span>
          </div>
        </div>
        <div class="our-lesson">
          <div class="wrapper-content">
            <div class="image-container">
              <%= image_tag 'welcome/oclock.svg', alt: "oclock-image" %>
            </div>
            <div class="our-lesson-content-container">
              <span class="title oswald-sans-serif600">13 ГОДИН УРОКІВ</span>
              <span class="sub-title oswald-sans-serif500">ДЛЯ ДОСЯГНЕННЯ РЕЗУЛЬТАТУ</span>
            </div>
          </div>
        </div>
        <div class="our-lesson">
          <div class="wrapper-content">
            <div class="image-container">
              <%= image_tag 'welcome/like.svg', alt: "like-image" %>
            </div>
            <div class="our-lesson-content-container">
              <span class="title oswald-sans-serif600">500 КЛІЄНТІВ</span>
              <span class="sub-title oswald-sans-serif500">ВЖЕ ОЦІНИЛИ НАШУ ПРОГРАМУ</span>
            </div>
          </div>
        </div>
      </div>
    </section>

<!--    Інфа про перший курс-->
    <section class="wait-on-course" style='background-image: url(<%=  @courses.first.image.url %>);'>
      <div class="left-side-text container">
        <span class="oswald-sans-serif500"><%= @courses.first.title %></span>
      </div>
      <div class="right-side-text container">
        <p class="montserrat-sans-serif600"><%= @courses.first.description %>
        </p>
      </div>
    </section>
<!------->

    <section class="course-for-you container">
      <span class="title oswald-sans-serif500">Цей курс для тебе, якщо...</span>
      <div class="wrapper-content">
        <div class="wrapper-every-blocks">
          <div>
            <%= image_tag 'welcome/oclock.svg', alt: "oclock-image" %>
          </div>
          <div>
            <span class="montserrat-sans-serif600">Любиш спорт і спортивний спосіб життя.</span>
          </div>
        </div>
        <div class="wrapper-every-blocks">
          <div>
            <%= image_tag 'welcome/oclock.svg', alt: "oclock-image" %>
          </div>
          <div>
            <span class="montserrat-sans-serif600">Тобі набридли неефективні тренери.</span>
          </div>
        </div>
        <div class="wrapper-every-blocks">
          <div>
            <%= image_tag 'welcome/oclock.svg', alt: "oclock-image" %>
          </div>
          <div>
            <span class="montserrat-sans-serif600">Ти надаєш перевагу домашнім завданням замість спортзалу.</span>
          </div>
        </div>
        <div class="wrapper-every-blocks">
          <div>
            <%= image_tag 'welcome/oclock.svg', alt: "oclock-image" %>
          </div>
          <div>
            <span class="montserrat-sans-serif600">Любиш спорт і спортивний спосіб життя.</span>
          </div>
        </div>
        <div class="wrapper-every-blocks">
          <div>
            <%= image_tag 'welcome/oclock.svg', alt: "oclock-image" %>
          </div>
          <div>
            <span class="montserrat-sans-serif600">Тобі набридли неефективні тренери.</span>
          </div>
        </div>
        <div class="wrapper-every-blocks">
          <div>
            <%= image_tag 'welcome/oclock.svg', alt: "oclock-image" %>
          </div>
          <div>
            <span class="montserrat-sans-serif600">Ти надаєш перевагу домашнім завданням замість спортзалу.</span>
          </div>
        </div>
      </div>
    </section>

    <section class="we-are-coach-with-experience wait-on-course">
      <div class="coach-left-side container right-side-text">
        <p>
          І ми навчимо вас тому, чого не зможуть інші навіть офлайн
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Amet varius ultricies quam neque consectetur. Ultricies
          justo amet, id tortor eget neque feugiat eu duis. Vitae
          mi neque, lacus, mus in mauris mauris, massa nunc. Adipiscing
          eget vitae phasellus turpis accumsan sapien aliquet adipiscing
          risus.
        </p>
        <p>
          Adipiscing eget vitae phasellus turpis accumsan sapien
          aliquet adipiscing risus.
        </p>
      </div>
      <div class="coach-right-side left-side-text container">
        <span class="oswald-sans-serif500">Результат курсу</span>
      </div>
    </section>

<!--    Епізоди та пакети першого урока-->
    <section class="episode">
      <span class="title oswald-sans-serif500">Епізоди</span>
      <div class="slider container">
        <% @courses.first.lessons.each.with_index(1) do |lesson, index| %>
          <div class="slide-wrapper">
            <div class="slide" style='background-image: url(<%= @courses.first.image.url %>);'>
              <div class="top-number-container">
                <span class="oswald-sans-serif500"><%= index %></span>
              </div>
              <div class="episode-content-wrapper">
                <span class="name-of-episode oswald-sans-serif500"><%= lesson.title %></span>
                <span class="description-of-episode montserrat-sans-serif600"><%= lesson.description %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
    <section class="price-section container">
      <div class="title-container">
        <span class="oswald-sans-serif600" id="price">Три пакети</span>
        <span class="oswald-sans-serif500">Виберіть пакет, який підійде саме вам</span>
      </div>
      <div class="price-wrapper container">
        <% @courses.first.rates.each do |rate| %>
          <div class="price-card">
            <div class="slide">
              <div class="title-of-card">
                <span class="card-title oswald-sans-serif500"><%= rate.title %></span>
                <span class="card-description oswald-sans-serif500"><%= rate.description %></span>
              </div>
              <div class="price-of-every-card">
                <div class="content-wrapper">
                  <s class="crossed-out col oswald-sans-serif500">6000</s>
                  <span class="price oswald-sans-serif500"><%= rate.price %> гривень</span>
                </div>
                <div class="button-wrapper">
                  <% if user_signed_in? && !@courses.first.bought?(current_user.id) %>
                    <%= link_to button_tag("Придбати", class: "all-button openSans-sans-serif600"), course_rate_bought_course_path(@courses.first, rate), method: :get %>
                  <% elsif user_signed_in? && @courses.first.bought?(current_user.id) %>
                    <%= link_to button_tag("Переглянути", class: "all-button openSans-sans-serif600"), course_lessons_path(@courses.first) %>
                  <% else %>
                    <%= link_to button_tag("Придбати", class: "all-button openSans-sans-serif600"), new_user_registration_path %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="footer">
        <span class="openSans-sans-serif600">Поспішіть! Акційна пропозиція діє лише до 31 серпня 2019 року.</span>
      </div>
    </section>
<!------->

<!--    Решта курсів-->
    <% @courses.drop(1).each do |course| %>
      <section class="wait-on-course" style='background-image: url(<%= course.image.url %>);'>
        <div class="left-side-text container">
          <span class="oswald-sans-serif500"><%= course.title %></span>
        </div>
        <div class="right-side-text container">
          <p class="montserrat-sans-serif600"><%= course.description %>
          </p>
        </div>
      </section>
      <section class="episode">
        <span class="title oswald-sans-serif500">Епізоди</span>
        <div class="slider container">
          <% course.lessons.each.with_index(1) do |lesson, index| %>
            <div class="slide-wrapper">
              <div class="slide" style='background-image: url(<%= course.image.url %>);'>
                <div class="top-number-container">
                  <span class="oswald-sans-serif500"><%= index %></span>
                </div>
                <div class="episode-content-wrapper">
                  <span class="name-of-episode oswald-sans-serif500"><%= lesson.title %></span>
                  <span class="description-of-episode montserrat-sans-serif600"><%= lesson.description %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </section>
      <section class="price-section container">
        <div class="title-container">
          <span class="oswald-sans-serif600" id="price">Три пакети</span>
          <span class="oswald-sans-serif500">Виберіть пакет, який підійде саме вам</span>
        </div>
        <div class="price-wrapper container">
          <% course.rates.each do |rate| %>
            <div class="price-card">
              <div class="slide">
                <div class="title-of-card">
                  <span class="card-title oswald-sans-serif500"><%= rate.title %></span>
                  <span class="card-description oswald-sans-serif500"><%= rate.description %></span>
                </div>
                <div class="price-of-every-card">
                  <div class="content-wrapper">
                    <s class="crossed-out col oswald-sans-serif500">6000</s>
                    <span class="price oswald-sans-serif500"><%= rate.price %> гривень</span>
                  </div>
                  <div class="button-wrapper">
                    <% if user_signed_in? && !course.bought?(current_user.id) %>
                      <%= link_to button_tag("Придбати", class: "all-button openSans-sans-serif600"), course_rate_bought_course_path(course, rate), method: :get %>
                    <% elsif user_signed_in? && course.bought?(current_user.id) %>
                      <%= link_to button_tag("Переглянути", class: "all-button openSans-sans-serif600"), course_lessons_path(course) %>
                    <% else %>
                      <%= link_to button_tag("Придбати", class: "all-button openSans-sans-serif600"), new_user_registration_path %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="footer">
          <span class="openSans-sans-serif600">Поспішіть! Акційна пропозиція діє лише до 31 серпня 2019 року.</span>
        </div>
      </section>
    <% end %>

<!--    Інші блоки-->
    <section class="wait-on-course bottom-card">
      <div class="left-side-text container">
        <span class="oswald-sans-serif500">
            НЕ ВАГАЙСЯ, ПРИЄДНУЙСЯ
        </span>
      </div>
      <div class="right-side-text container">
        <p class="openSans-sans-serif600">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur.
        </p>
      </div>
    </section>

    <section class="under-header-section under-quotes-section sale container">
      <div class="buy-ticket">
        <div class="content-wrapper">
          <s class="crossed-out col oswald-sans-serif500">6000</s>
          <span class="price oswald-sans-serif500">від<strong
            class="oswald-sans-serif600">4000</strong>гривень</span>
        </div>
        <div class="buy-button-wrapper container">
          <a href="#price" class="scroll-nav">
            <button class="all-button openSans-sans-serif600">Придбати</button>
          </a>
          <span class="oswald-sans-serif500">* Тільки до 31.08.2019</span>
        </div>
      </div>
      <div class="our-lesson">
        <div class="wrapper-content">
          <div class="image-container">
            <%= image_tag 'welcome/oclock.svg', alt: "oclock-image" %>
          </div>
          <div class="our-lesson-content-container">
            <span class="title oswald-sans-serif600">13 ГОДИН УРОКІВ</span>
            <span class="sub-title oswald-sans-serif500">ДЛЯ ДОСЯГНЕННЯ РЕЗУЛЬТАТУ</span>
          </div>
        </div>
      </div>
      <div class="our-lesson dwaldlwa">
        <div class="wrapper-content">
          <div class="image-container">
            <%= image_tag 'welcome/like.svg', alt: "like-image" %>
          </div>
          <div class="our-lesson-content-container">
            <span class="title oswald-sans-serif600">500 КЛІЄНТІВ</span>
            <span class="sub-title oswald-sans-serif500">ВЖЕ ОЦІНИЛИ НАШУ ПРОГРАМУ</span>
          </div>
        </div>
      </div>
    </section>

    <section class="wait-on-course arnold">
      <div class="right-side-text container">
        <p class="montserrat-sans-serif600 first">
          <%= image_tag 'welcome/quotes.svg', alt: "quotes-image", class: "quotes1" %>
          Я відкрив для себе секрет успіху в формулюванні з трьох частин:
        </p>
        <ul>
          <li class="montserrat-sans-serif600">- Впевненість у собі.</li>
          <li class="montserrat-sans-serif600">- Позитивний настрій.</li>
          <li class="montserrat-sans-serif600">- Чесна інтенсивна праця.</li>
        </ul>
        <p class="montserrat-sans-serif600 last">
          Багато людей знають ці три принципи, але деякі з них можуть застосувати їх на практиці
          <%= image_tag 'welcome/quotes.svg', alt: "quotes-image", class: "quotes2" %>
        </p>
      </div>
      <div class="left-side-text container">
        <span class="oswald-sans-serif500">
            Арнольд Шварцнеггер
        </span>
      </div>
    </section>
  </div>

  <section class="container-fluid trailer-section">
    <div class="container wrapper-section-content">
      <span class="oswald-sans-serif500" id="trailer">Трейлер</span>
      <div class="video-container">
        <%= video_tag @courses.first.trailer.url, controls: 'controls' %>
      </div>
    </div>
  </section>

  <footer>
    <div class="footer-wrapper">
      <div class="container top-container">
        <div class="language-wrapper">
          <span class="oswald-sans-serif500"><button class="active"><%= link_to_unless_current 'UK', url_for(locale: :uk) %></button></span>
          <span class="oswald-sans-serif500"><button class="active"><%= link_to_unless_current 'RU', url_for(locale: :ru) %></button></span>
        </div>
        <span class="title openSans-sans-serif600">За незаконне копіювання матеріалів сайту передбачена кримінальна відповідальність</span>
        <div class="icons-container">
          <a href="#"><%= image_tag 'icons/facebook.svg', alt: "facebook" %></a>
          <a href="#"><%= image_tag 'icons/instagram.svg', alt: "instagram" %></a>
          <a href="#"><%= image_tag 'icons/vk.svg', alt: "vkontakte" %></a>
        </div>
      </div>
      <div class="container bottom-container">
        <span class="openSans-sans-serif600">Your Sport Courses 2019</span>
        <span class="openSans-sans-serif600">Усі права захищено</span>
        <span class="movadex openSans-sans-serif600">Зроблено в
                    <a class="openSans-sans-serif600" href="https://www.movadex.com/">Movadex</a>
                </span>
      </div>
    </div>
  </footer>
</div>
