<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @rate.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @rate.text %>
</p>

<p>
  <strong>Tariff:</strong>
  <%= @rate.tariff %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rate.price %>
</p>

<p>
  <strong>Course:</strong>
  <%= @rate.course %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
