<% if watched?(@lesson) %>
  <div class="video-container" id="<%= @lesson.id %>" data-watched="true">
<% else %>
  <div class="video-container" id="<%= @lesson.id %>" data-watched="false">
<% end %>
<!--<video controls="controls" src='<%#= @lesson.video.url %>' class="videoControl">-->
<!--  <source src="<%#= @lesson.video.url %>"-->
<!--          type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>-->
<!--</video>-->
  <video id='video' style="width: 640px; height: 360px;" class="video-js vjs-default-skin videoControl"></video>
  <div class="under-video-line">
    <span class="title oswald-bold"><%= @lesson.title %></span>
    <p class="openSans-normal"><%= @lesson.description %></p>
  </div>

  <div class="wrapper-button">
    <% if @lesson.next %>
      <%= link_to course_lesson_path(@course, @lesson.next), remote: true do %>
        <button class="all-button">
          Дивитись наступну
          <%= image_tag 'icons/Vector.svg', alt: "next" %>
        </button>
      <% end %>
    <% end %>
  </div>

<style>
  .video-js .vjs-menu-button .vjs-icon-placeholder:before {
    content: '\2731';
  }
  .video-js .vjs-big-play-button, .video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -45px;
    background-color: #F2C94C;
  }

  .vjs-selected span{
    color: black;
  }
</style>

<script>
    videojs('video', {
        controls: true,
        plugins: {
            videoJsResolutionSwitcher: {
                default: 'high', // Default resolution [{Number}, 'low', 'high'],
                dynamicLabel: false
            }
        }
    }, function(){
        var player = this;
        window.player = player
        player.updateSrc([
            {
                src: '<%= @lesson.video.fullhd.url %>',
                type: 'video/mp4',
                label: '1080p',
                res: 1080
            },
            {
                src: '<%= @lesson.video.hd.url %>',
                type: 'video/mp4',
                label: '720p',
                res: 720
            },
            {
                src: '<%= @lesson.video.lowhd.url %>',
                type: 'video/mp4',
                label: '480p',
                res: 480
            },
            {
                src: '<%= @lesson.video.verylowhd.url %>',
                type: 'video/mp4',
                label: '360p',
                res: 360
            }
        ])
        player.on('resolutionchange', function(){
            console.info('Source changed to %s', player.src())
        })
    })
</script>

</div>