<% if watched?(@lesson) %>
  <div class="video-container" id="<%= @lesson.id %>" data-watched="true">
<% else %>
  <div class="video-container" id="<%= @lesson.id %>" data-watched="false">
<% end %>
  <video controls="controls" src='<%= @lesson.video.url %>' class="videoControl">
    <source src="<%= @lesson.video.url %>"
            type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
  </video>
  <div class="under-video-line">
    <span class="title oswald-bold"><%= @lesson.title %></span>
    <p class="openSans-normal"><%= @lesson.description %></p>
  </div>
  <div class="wrapper-button">
    <% if @lesson.next %>
      <%= link_to course_lesson_path(@course, @lesson.next), remote: true do %>
        <button class="all-button">
          Дивитись наступну
          <%= image_tag 'icons/Vector.svg', alt: "next" %>
        </button>
      <% end %>
    <% end %>
  </div>
</div>