<div class="wrapper">
  <header class="container-fluid">
    <div class="container wrapper-header">
      <div class="logo-wrapper">
        <%= link_to root_path do %>
          <%= image_tag 'icons/logo_my_courses.svg', alt: "logo" %>
        <% end %>
      </div>
      <div class="profile-go-out">
        <%= link_to (t 'exit'), destroy_user_session_path, method: :delete , class: "go-out openSans-normal" %>
      </div>
    </div>
  </header>
  <section class="card-section container-fluid">
    <div class="container">
      <div class="main-title">
        <span class="main-title oswald-bold"><%= t 'bought_list.title' %></span>
      </div>
      <div class="wrapper-card">
        <% @courses.each do |course| %>
          <% if course.bought_tariff == "vip" %>
            <%= link_to course_lessons_path(course), class: "every-card vip", style: "background-image: url(#{course.image.url})" do %>
              <div class="bottom-block">
                <span class="title oswald-bold"><%= course.title %></span>
                <span class="sub-title"><%= course.bought_tariff_title %></span>
                <div class="image-container">
                  <%= image_tag 'icons/calendar.svg', alt: "calendar" %>
                  <span class="oswald-bold"><%= t 'bought_list.remains' %> <%= course.watched_count %>/<%= course.lessons.count %> <%= t 'lessons_text' %></span>
                </div>
              </div>
            <% end %>
          <% elsif course.bought_tariff == "advanced" %>
            <%= link_to course_lessons_path(course), class: "every-card advanced", style: "background-image: url(#{course.image.url})" do %>
              <div class="bottom-block">
                <span class="title oswald-bold"><%= course.title %></span>
                <span class="sub-title"><%= course.bought_tariff_title %></span>
                <div class="image-container">
                  <%= image_tag 'icons/calendar.svg', alt: "calendar" %>
                  <span class="oswald-bold"><%= t 'bought_list.remains' %> <%= course.watched_count %>/<%= course.lessons.count %> <%= t 'lessons_text' %></span>
                </div>
              </div>
            <% end %>
          <% elsif course.bought_tariff == "standart" %>
            <%= link_to course_lessons_path(course), class: "every-card standart", style: "background-image: url(#{course.image.url})" do %>
              <div class="bottom-block">
                <span class="title oswald-bold"><%= course.title %></span>
                <span class="sub-title"><%= course.bought_tariff_title %></span>
                <div class="image-container">
                  <%= image_tag 'icons/calendar.svg', alt: "calendar" %>
                  <span class="oswald-bold"><%= t 'bought_list.remains' %> <%= course.watched_count %>/<%= course.lessons.count %> <%= t 'lessons_text' %></span>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-wrapper">
      <div class="container top-container">
        <div class="language-wrapper">
          <span class="oswald-sans-serif500">
            <button class="active">
              <% unless params[:locale] == "uk" %>
                <%= link_to "UK", change_locale_path(:uk, path: "#{request.path.to_s.split("/").drop(2).join("/")}") %>
              <% else %>
                UK
              <% end %>
            </button>
          </span>
          <span class="oswald-sans-serif500">
            <button class="active">
              <% unless params[:locale] == "ru" %>
                <%= link_to "RU", change_locale_path(:ru, path: "#{request.path.to_s.split("/").drop(2).join("/")}") %>
              <% else %>
                RU
              <% end %>
            </button>
          </span>
        </div>
        <span class="title openSans-sans-serif600"><%= t 'footer.title' %></span>
        <div class="icons-container">
          <a href="#"><%= image_tag 'icons/facebook.svg', alt: "facebook" %></a>
          <a href="#"><%= image_tag 'icons/instagram.svg', alt: "instagram" %></a>
          <a href="#"><%= image_tag 'icons/vk.svg', alt: "vkontakte" %></a>
        </div>
      </div>
      <div class="container bottom-container">
        <span class="openSans-sans-serif600">Sports Courses 2019</span>
        <span class="openSans-sans-serif600"><%= t 'footer.copyright' %></span>
        <span class="movadex openSans-sans-serif600"><%= t 'footer.made_in' %>
          <a class="openSans-sans-serif600" href="https://www.movadex.com/">Movadex</a>
        </span>
      </div>
    </div>
  </footer>
</div>