<% if can? :manage, @course %>
  <% if @course.published? %>
    <%= link_to "Курс опубліковано Unpublish", unpublish_course_path(@course), method: :put %>
  <% else %>
    <%= link_to "Publish", publish_course_path(@course), method: :put %>
  <%  end %>
  <%= link_to 'Edit', edit_course_path(@course) %>
<% end %>
<%= link_to 'Back', courses_path %>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Document:</strong>
  <%= link_to @course.document.url, @course.document.url %>
</p>

<p>
  <strong>Video:</strong>
  <video controls autoplay>
    <source src="<%= @course.trailer.url %>">
  </video>
  <%= @course.trailer.url %>
</p>
