<%= simple_form_for([@course, @course.rates.build], html: { class: 'form-inline' }) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :tariff %>
    <%= form.select :tariff, Rate.tariffs.keys, {} %>
    <%#= form.collection_select :tariff, Rate.tariffs, :id, :enum, {prompt: "Select a tariff"} %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
