<div class="wrapper">
  <div class="container-statistics">
    <div class="wrapper-statistics">
      <div class="main-title">
        <span class="title roboto-font">Курси</span>
        <span class="title roboto-font"><%= link_to "New Course", new_admin_course_path %></span>
      </div>
      <% @courses.each do |course| %>
        <div class="course">
          <div class="wrapper-content">
            <div class="titles">
              <span class="roboto-font">Назва</span>
              <span class="roboto-font">Кількість уроків</span>
              <span class="roboto-font">Дата створення</span>
              <span class="roboto-font"></span>
            </div>
            <div class="line">
              <span class="roboto-font"><%= course.title %></span>
              <span class="roboto-font"><%= course.lessons.count %></span>
              <span class="roboto-font"><%= course.created_at %></span>
              <span class="roboto-font"><%= link_to "Show", admin_course_path(course) %></span>
              <span class="roboto-font"><%= link_to "Edit", edit_admin_course_path(course) %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>