<div class="container-fluid">
  <div class="container">
    <div class="navigator">
      <a href="" class="roboto-font">
        Головне меню
        <span></span>
      </a>
      <a href="" class="roboto-font">
        Курси
        <span></span>
      </a>
    </div>
    <div class="under-navigator">
      <span class="roboto-font">Cписок курсів</span>
      <%= link_to new_admin_course_path do %>
        <button class="roboto-bold">
          Додати курс
          <%= image_tag "admin/icons/plus.svg", alt: "plus" %>
        </button>
       <% end %>
    </div>
    <div class="card-wrapper">
      <% @courses.each do |course| %>
        <div class="every-card">
        <%= link_to admin_course_path(course), class: "every-card" do %>
            <div class="img" style="background: url(<%= course.image.url %>)"></div>
            <div class="content-wrapper">
              <span class="roboto-bold title"><%= course.title %></span>
              <span class="roboto-font total-packet"><%= course.rates.count %> пакети</span>
              <%= link_to edit_admin_course_path(course) do %>
                <button class="roboto-font">Редагувати</button>
              <% end %>
            </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>