<div class="wrapper">
  <div class="container-statistics">
    <div class="navigator">
      <a href="" class="roboto-font">
        Головне меню
        <span></span>
      </a>
      <a href="" class="roboto-font">
        Курси
        <span></span>
      </a>
      <a href="" class="roboto-font">
        Додати курс
        <span></span>
      </a>
    </div>
      <%= simple_form_for(@course, url: admin_courses_path(locale: params[:locale]), method: "POST", html: { class: 'wrapper-added-course' }) do |form| %>
        <div class="main-title">
          <span class="title roboto-font">Загальна інформація</span>
        </div>
        <div class="add_new_course">
          <div class="wrapper-content">
            <span class="roboto-font">Прев’ю зображення курсу</span>
            <%= form.file_field :image, class:"roboto-font" %>
            <a href="">
              <button>Завантажити</button>
            </a>
          </div>
          <div class="wrapper-content">
            <span class="roboto-font">Трейлер курсу</span>
            <%= form.file_field :trailer, class:"roboto-font" %>
            <a href="">
              <button>Завантажити</button>
            </a>
          </div>
          <div class="inputs-wrapper">
            <label for="name" class="roboto-font">Назва курсу</label>
            <%= form.text_field :title, id: "name" %>
            <label for="description" class="roboto-font">Опис</label>
            <%= form.text_area :description, id: "description" %>
          </div>
          <div class="wrapper-content">
            <span class="roboto-font">Зошит (Для пакету VIP)</span>
            <%= form.file_field :document, class:"roboto-font" %>
            <a href="">
              <button>Завантажити</button>
            </a>
          </div>
          <br>
          <div class="button-wrapper">
            <%= form.submit "Зберегти Курс", class:"roboto-font button save" %>
          </div>
        </div>
      <% end %>
  </div>
</div>