<div class="container">
  <div class="row justify-content-center">
    <% if @course.published? %>
      <%= link_to "Курс опубліковано, натисніть аби приховати курс", unpublish_admin_course_path(@course), method: :put, class: "btn btn-success" %>
    <% else %>
      <%= link_to "Опублікувати", publish_admin_course_path(@course), method: :put, class: "btn btn-success" %>
    <%  end %>
    <%= link_to 'Редагувати', edit_admin_course_path(@course), class: "btn btn-primary" %>
    <div class="col-md-6">
      <img style="max-width: 100%;" src="<%= @course.image.url %>">



    </div>
    <h3><%= @course.title %></h3>
    <p><%= @course.description %></p>
    <p><%= link_to "Скачати документ", @course.document.url %></p>
    <video controls autoplay>
      <source src="<%= @course.trailer.url %>">
    </video>
  </div>
</div>



<%= link_to 'Додати тариф', new_admin_course_rate_path(@course), class: "btn btn-warning" %>
<h1>Тарифи</h1>
    <div class="col-md-6">
      <% @course.rates.each do |rate| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= rate.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= rate.tariff %></h6>
            <p class="card-text"><%= rate.price %></p>
            <p class="card-text"><%= rate.description %></p>

            <%= link_to "Редагувати", edit_admin_course_rate_path(@course, rate), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

      <h1>Уроки</h1>

<%= link_to 'Додати урок', new_admin_course_lesson_path(@course), class: "btn btn-warning" %>
      <div class="col-md-6">
        <% @course.lessons.each do |lesson| %>
          <div class="card" style="width: 18rem">
            <img class="card-img-top" src="<%= lesson.image.url %>" alt="Card image cap">

            <div class="card-body">
              <h5 class="card-title"><%= lesson.title %> </h5>
              <p class="card-text"><%= lesson.description %></p>

              <%= link_to "Переглянутит", admin_course_lesson_path(lesson), clas: "btn btn-info" %>
              <%= link_to "Редагувати", edit_admin_course_lesson_path(@course, lesson), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
</div>