<% if can? :manage, @course %>
  <% if @course.published? %>
    <%= link_to "Курс опубліковано Unpublish", unpublish_course_path(@course), method: :put %>
  <% else %>
    <%= link_to "Publish", publish_course_path(@course), method: :put %>
  <%  end %>
  <%= link_to 'Edit', edit_course_path(@course) %>
  <%= link_to 'Add Lesson', new_course_lesson_path(@course) %>
  <%= link_to 'Add Rate', new_course_rate_path(@course) %>
<% end %>
<%= link_to 'Back', admin_courses_path %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <video controls autoplay>
        <source src="<%= @course.trailer.url %>">
      </video>
      <img src="<%= @course.image.url %>">
      <p>
        <strong>Title:</strong>
        <%= @course.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @course.description %>
      </p>

      <% if can_download? %>
        <p>
          <strong>Document:</strong>
          <%= link_to "Download", @course.document.url %>
        </p>
      <% end %>
    </div>

    <div class="col-lg-6">
      <% @course.rates.each do |rate| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= rate.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= rate.tariff %></h6>
            <p class="card-text"><%= rate.price %></p>
            <p class="card-text"><%= rate.description %></p>

            <% if can? :manage, @course %>
              <%= link_to "Edit Rate", edit_course_rate_path(@course, rate) %>
            <% end %>
            <% if can_buy? %>
              <%= link_to "Buy", course_rate_bought_course_path(@course, rate) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="col-lg-5">
        <% @course.lessons.each do |lesson| %>
          <div class="card" style="width: 18rem">
            <img class="card-img-top" src="<%= lesson.image.url %>" alt="Card image cap">

            <div class="card-body">
              <h5 class="card-title"><%= lesson.title %> </h5>
              <p class="card-text"><%= lesson.description %></p>

              <% if can? :manage, @course %>
                <%= link_to "Edit Lesson", edit_course_lesson_path(@course, lesson) %>
              <% end %>
            </div>
            <% if can_watch?(lesson) %>
              <%= link_to 'Watch', course_lesson_path(@course, lesson) %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="col-lg-5">
        <div id="lesson">
          <%= render @lesson %>
        </div>
      </div>
    </div>
  </div>
</div>