<div class="wrapper">
  <div class="container-statistics">
    <div class="navigator">
      <%= link_to admin_path, class: "roboto-font" do %>
        Головне меню
        <span></span>
      <% end %>
      <%= link_to admin_courses_path, class: "roboto-font" do %>
        Курси
        <span></span>
      <% end %>
      <%= link_to admin_course_path(@course), class: "roboto-font" do %>
        <%= @course.title %>
        <span></span>
      <% end %>
    </div>
    <div class="wrapper-added-course">
      <div class="main-title">
        <span class="title roboto-font">Загальна інформація</span>
      </div>
      <div class="add_new_course">
        <div class="wrapper-content">
          <%= link_to edit_admin_course_path(@course) do %>
            <button class="button">Редагувати</button>
          <% end %>
          <% if @course.published? %>
            <%= link_to unpublish_admin_course_path(@course), method: :put do %>
              <button class="button">Натисніть аби приховати курс</button>
            <% end %>
          <% else %>
            <%= link_to publish_admin_course_path(@course), method: :put do %>
              <button class="button">Опублікувати</button>
            <% end %>
          <%  end %>
        </div>
        <div class="wrapper-content">
          <span class="roboto-font">Прев’ю зображення курсу</span>
          <%= image_tag @course.image.url, style: "height: 500px" %>
        </div>
        <div class="wrapper-content">
          <span class="roboto-font">Трейлер курсу</span>
        </div>
        <video id='video' style="width: 854px; height: 480px;" class="video-js vjs-default-skin"></video>
        <div class="inputs-wrapper">
          <label for="name" class="roboto-font">Назва курсу</label>
          <%= @course.title %>
          <label for="description" class="roboto-font">Опис</label>
          <%= simple_format(@course.description) %>
        </div>
        <div class="wrapper-content">
          <span class="roboto-font">Зошит (Для пакету VIP)</span>
          <%= link_to "Переглянути документ", @course.document.url, target: "_blank" %>
        </div>
      </div>
  </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="under-navigator">
      <span class="roboto-font">Cписок уроків</span>
      <%= link_to new_admin_course_lesson_path(@course) do %>
        <button class="roboto-bold">
          Додати урок
          <%= image_tag "admin/icons/plus.svg", alt: "plus" %>
        </button>
      <% end %>
    </div>
    <div class="card-wrapper">
      <% @course.lessons.each do |lesson| %>
        <div class="every-card">
          <%= link_to admin_course_lesson_path(@course, lesson), class: "every-card" do %>
              <div class="img" style="background: url(<%= lesson.image.url %>) "></div>
              <div class="content-wrapper">
                <span class="roboto-bold title"><%= lesson.title %></span>
                <%= link_to edit_admin_course_lesson_path(@course, lesson) do %>
                  <button class="roboto-font">Редагувати</button>
                <% end %>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="under-navigator">
      <span class="roboto-font">Cписок пакетів</span>
      <%= link_to new_admin_course_rate_path(@course) do %>
        <button class="roboto-bold">
          Додати пакет
          <%= image_tag "admin/icons/plus.svg", alt: "plus" %>
        </button>
      <% end %>
    </div>
    <div class="card-wrapper">
      <% @course.rates.each do |rate| %>
        <div class="every-card">
          <div class="content-wrapper">
            <span class="roboto-bold title"><%= rate.title %></span><br>
            <span class="roboto-font total-packet"><%= rate.tariff %></span><br>
            <span class="roboto-font total-packet"><%= simple_format(rate.description) %></span><br>
            <span class="roboto-font total-packet"><%= rate.price %></span>
            <%= link_to edit_admin_course_rate_path(@course, rate) do %>
              <button class="roboto-font">Редагувати</button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
  .video-js .vjs-menu-button .vjs-icon-placeholder:before {
    content: '\2731';
  }
  .video-js .vjs-big-play-button, .video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -45px;
    background-color: #F2C94C;
  }
</style>

<script>
    videojs('video', {
        controls: true,
        plugins: {
            videoJsResolutionSwitcher: {
                default: 'high', // Default resolution [{Number}, 'low', 'high'],
                dynamicLabel: true
            }
        }
    }, function(){
        var player = this;
        window.player = player
        player.updateSrc([
            {
                src: '<%= @course.trailer.fullhd.url %>',
                type: 'video/mp4',
                label: '1080p',
                res: 1080
            },
            {
                src: '<%= @course.trailer.hd.url %>',
                type: 'video/mp4',
                label: '720p',
                res: 720
            },
            {
                src: '<%= @course.trailer.lowhd.url %>',
                type: 'video/mp4',
                label: '480p',
                res: 480
            },
            {
                src: '<%= @course.trailer.verylowhd.url %>',
                type: 'video/mp4',
                label: '360p',
                res: 360
            }
        ])
        player.on('resolutionchange', function(){
            console.info('Source changed to %s', player.src())
        })
    })
</script>