<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag  params[:controller], 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Oswald&display=swap" rel="stylesheet">
    <script>window.replainSettings = {id: 'bb49806e-cae9-4f51-9b8d-d1adff2d9a31'};(function (u) {var s = document.createElement('script');s.type = 'text/javascript';s.async = true;s.src = u;var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);})('https://widget.replain.cc/dist/client.js');</script>
  </head>

  <body>
    <%= yield %>
  </body>

  <script>
      $(document).on('click', '.scroll-nav', function (event) {
          event.preventDefault();

          $('html, body').animate({
              scrollTop: $($.attr(this, 'href')).offset().top - 120
          }, 900);
      });
      window.onload = function () {
          var scrolled,
              timer,
              scroll = document.getElementById('scroll'),
              setBool = false,
              header = document.querySelector('.header');

          window.onscroll = function () {
              headerBG()
          };

          function headerBG() {
              if (window.pageYOffset >= 515) {
                  if (!setBool) {
                      header.classList.toggle('toggleHeader');
                      scroll.classList.toggle('toggleScroll');
                      setBool = true;
                  }
              } else {
                  if (setBool) {
                      header.classList.toggle('toggleHeader');
                      scroll.classList.toggle('toggleScroll');
                      setBool = false;
                  }
              }
          }
          headerBG();

          scroll.onclick = function() {
              scrolled = window.pageYOffset;
              scrollToTop();
          };

          function scrollToTop() {

              if (scrolled >= 0) {
                  window.scrollTo(0,scrolled);
                  scrolled = scrolled - 50 ;// -50 length scroll
                  timer = setTimeout(scrollToTop,10) // 20 scroll speed
              }else{
                  clearTimeout(timer);
                  window.scrollTo(0,0)
              }
          }
      };
      $('.slider').slick({
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 3,
          responsive: [
              {
                  breakpoint: 1200,
                  settings: {
                      slidesToShow: 2,
                      slidesToScroll: 2,
                  }
              },
              {
                  breakpoint: 992,
                  settings: {
                      slidesToShow: 1,
                      slidesToScroll: 1
                  }
              },
              {
                  breakpoint: 767,
                  settings: {
                      slidesToScroll: 1,
                      centerMode: true,
                      variableWidth: true,
                  }
              },
              {
                  breakpoint: 469,
                  settings: {
                      slidesToShow: 1,
                      slidesToScroll: 1,
                  }
              }
          ]
      });
      $('.price-wrapper').slick({
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 3,
          autoplay: true,
          autoplaySpeed: 5000,
          responsive: [
              {
                  breakpoint: 1200,
                  settings: {
                      slidesToShow: 2,
                      slidesToScroll: 2,
                  }
              },
              {
                  breakpoint: 992,
                  settings: {
                      slidesToShow: 1,
                      slidesToScroll: 1
                  }
              },
              {
                  breakpoint: 470,
                  settings: {
                      slidesToShow: 1,
                      slidesToScroll: 1,
                  }
              }
          ]
      });
  </script>
</html>
