<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <nav>
      <ul>
        <li><%= link_to_unless_current 'Ukraine', url_for(locale: :uk) %></li>
        <li><%= link_to_unless_current 'Русский', url_for(locale: :ru) %></li>
      </ul>
      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn' %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>

      <% if can? :manage, :all %>
        <%= link_to "Create Course", new_course_path, class: "btn btn-primary" %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
